*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/
*.sln.iml

bin/
obj/

*.db
*.db-shm
*.db-wal

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

Generated_Code/
